<header>
    <section class="brand">
        <a href="http://lexi.parateam.uk/nexiyo/">
            <img src="{{ _base_url ~ '/assets/logo.svg' }}" alt="Nexiyo logo" />
        </a>

        <h1>Nexiyo {{ 'v' ~ _nx_version }}</h1>
    </section>
</header>
