{% extends 'layouts/default.twig' %}

{% block content %}
    <h2>Welcome to Nexiyo</h2>
    <p>Nexiyo is my experiment at building a small framework so I could learn more about the individual components. Now it's in a usable state, I thought I'd release it, as a tool for others to learn or even use in small sites.</p>

    <h3>Features</h3>
    <h4>Current</h4>
    <ul>
        <li>Full MVC functionality using as few packages as possible</li>
        <li>Supports Dotenv for environment credentials</li>
        <li>Built on Flight (router/microframework) - <a href="http://flightphp.com/learn/">http://flightphp.com/learn/</a></li>
        <li>Uses illuminate/database for connections - <a href="https://laravel.com/docs/5.1/database#configuration">https://laravel.com/docs/5.1/database#configuration</a></li>
        <li>Eloquent models - <a href="http://laravel.com/docs/5.1/eloquent">http://laravel.com/docs/5.1/eloquent</a></li>
        <li>Twig templating engine - <a href="http://twig.sensiolabs.org/doc/1.x/">http://twig.sensiolabs.org/doc/1.x/</a></li>
    </ul>
    <h4>To do (hopefully)</h4>
    <ul>
        <li>Improve error handling in core</li>
        <li>Migrate Twig to 2.0</li>
        <li>Provide defaults for dotenv when unset</li>
        <li>Add DB migration capabilities</li>
    </ul>

    <h3>Usage</h3>
    <h4>Constants</h4>
    <p>The <b>index.php</b> file sets a few constants for easy use across the application. You can change these however it's recommended they stay as they are. The constants are:</p>
    <ul>
        <li><b>ROOT_DIR</b> - the base directory</li>
        <li><b>WEB_DIR</b> (ROOT_DIR + /htdocs) - the web root</li>
        <li><b>APP_DIR</b> (ROOT_DIR + /app) - the app root for custom code</li>
        <li><b>CONF_DIR</b> (APP_DIR + /config) - folder in app for configuration</li>
        <li><b>STORE_DIR</b> (ROOT_DIR + /storage) - storage for Twig (maybe other items in the future)</li>
    </ul>
    <h4>Configuration</h4>
    <p>Apart from the Dotenv, you can also modify other items in the <b>app/config/</b> directory, or add your own files and grab them with <code>$app->getConfig(name)</code>.</p>
    <h5>Classes</h5>
    <p>The <b>psr0</b> and <b>psr4</b> arrays can be used to autoload classes using their respective standards. They are loaded via Composer's built-in <code>ClassLoader</code>. Alongside this is the <b>aliases</b> array, which can be used to (you guessed it) alias classes on load.</p>
    <h5>Twig</h5>
    <p>The <b>loader</b> and <b>extension</b> arrays are passed to Twig during initialization for you to add your own configuration or classes. Alongside this is the <b>globals</b> array, which is passed through to Twig templates as global values to be used anywhere.</p>
    <h5>Database</h5>
    <p>This is the array of arguments passed to the Illuminate database capsule. Unless you're doing your own thing with the database or not using MySQL/MariaDB, this can be left alone.</p>
    <h4>MVC components</h4>
    <h5>Routing</h5>
    <p>Add all routing code in <b>app/routes.php</b>. Read the Flight documentation for more details.</p>
    <h5>Controllers</h5>
    <p>All controllers should use the namespace <b>App</b> (unless you change it in the config, of course) and extend the base controller found in <b>app/controllers/</b>.</p>
    <h5>Models</h5>
    <p>All models should use the namespace <b>App</b> (unless you change it in the config, of course) and extend the base model found in <b>app/models/</b>. They are based on Eloquent's model, so you can use Laravel's query builder, relationships etc. in your models. Alternatively you can roll your own implementation and not extend the base model.</p>
    <h5>Views</h5>
    <p>Views are rendered by Twig and found in the <b>app/views/</b> folder. To use them just <code>echo \Flight::render('name.twig', $data)</code> like you would with vanilla Flight.</p>
    <h4>Command line</h4>
    <p>As there's no migration capabilities currently, you may wish to run some basic creation commands from a terminal. An example file and function is available as <b>bin/cli.php</b> and can be run from the project root with <code>php bin/cli.php</code>. Basically, this works the same as the web's <b>index.php</b> but without calling <code>$app->start()</code>, as that launches Flight's routing. This way you have full access to the application. Extend this as you see fit.</p>

    <center>
        <h3>Have fun!</h3>
    </center>

{% endblock %}
