/**
 * Nexiyo CSS example.
 */

body {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 800px;
  background-color: #325c7f;
  color: #fff;
  font-family: "Basic", "Calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Typography. */
a {
  color: #ff663c;
  transition: color 0.25s ease;
}

a:hover, a:active, a:focus {
  color: #ff996c;
}

code {
  display: inline-block;
  padding: 2px 4px;
  background-color: #eee;
  color: #f66;
  font-size: 0.75em;
  font-weight: bold;
  border: 1px solid #bbb;
  border-radius: 4px;
}

/* Components. */
header .brand {
  text-align: center;
}

header .brand img {
  width: 200px;
  height: auto;
}

main {
  margin: 30px 0;
  padding: 15px 30px;
  background-color: #fff;
  color: #42425f;
  border-radius: 7.5px;
}

footer {
  text-align: center;
}

/* Responsive. */
@media (max-width: 600px) {
  body {
    padding: 30px 10px;
  }

  main {
    padding: 15px;
  }
}
