<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="{{ _charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nexiyo</title>

    <link rel="stylesheet" href="//necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Basic">
    <link rel="stylesheet" href="{{ _base_url ~ '/assets/app.css' }}">

    <script type="text/javascript">
        document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'') + ' js';
    </script>
</head>

<body>
    {% include('partials/header.twig') %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include('partials/footer.twig') %}
</body>
</html>
